<%= provide(:title, "Sign Up") %>

<div class="container signup">
  <div class="col-md-offset-4 col-md-4">
    <%= form_for @user do |f| %>
      <%= f.text_field :name, class:"form-control", autofocus: true, placeholder:"Name" %>
      <br />
      <%= f.email_field :email, class:"form-control", autofocus: true, placeholder: "Email" %>
      <br />
      <%= f.password_field :password, class: "form-control",placeholder: "Password" %>
      <%= f.password_field :password_confirmation, class:"form-control", placeholder: "Confirm Password" %>
      <%= f.submit "Create my account", class: "form-control btn-success" %>
    <%end%>
  </div>
</div>